<div class="shopping-list" ng-controller="ShoppingListController as list">
    <form>
    <fieldset class="input-append">
        <input type="text" class="form-control" ng-model="list.newItemName" placeholder="Indtast vare" ng-keyup="list.addItem($event)">
        <div class="suggest">
            <div ng-repeat="name in list.matchingNames">
                {{name}}
            </div>
        </div>
    </fieldset>
    </form>
    <table class="table table-bordered table-hover">
        <tr ng-repeat="item in list.items" ng-click="list.removeItem($index)">
            <td class="shopping-list-item">{{item.name}}</td>
        </tr>
        <tr ng-hide="list.items.length">
            <td style="height: 300px; width: 300px; vertical-align: middle; text-align: center">Du har ingen varer i din indkøbskurv.</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="#/">Log ud</a>
</div>